 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

 @layer base {
  body {
    font-family: 'Poppins', sans-serif; /* default font */
  }
 .font-roboto {
    font-family: 'Roboto', sans-serif;
  }

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .font-playfair {
    font-family: 'Playfair Display', serif;
  }


}